@{
    ViewData["Title"] = "Deals";
}
@using WisePriceClient.Models
@model List<Deal>

<div class='deals-body'>
    <div class='deals-top'>
        <div class='col'></div>
        <h1>Deals</h1>
        <div class='col'></div>
    </div>

    <div class="ui search">
      <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search by item...">
        <i class="search icon"></i>
      </div>
    </div>

    <div class='deals-cards-container'>
    @foreach (var deal in Model)
    {
      <div class="ui cards">
        <div class="card">
          <div class="ui top">
            <a><i class="thumbtack icon large"></i></a>
          </div>
          <div class="content">
            <div class="header">
              @deal.Item.ItemName
              <h4>
                @deal.Price
              </h4>
            </div>
            <div class="description">
              <div>
                @deal.Location.Name
              </div>
              <div>
                @deal.Location.Address
              </div>
              <div>
                @deal.TimeUpdated
              </div>
            </div>
          </div>
          <div class="ui bottom">
            <a><i class="thumbs up outline icon blue large"></i></a>
            <a><i class="thumbs down outline icon red large"></i></a>
          </div>
        </div>
      </div>
    }


    </div>

</div>


